body{
	/*background: url("w.jpg");
	background-size: cover;
	background-position: center;
	background-position: -750px;*/
	background: rgb(236,235,228);
background: linear-gradient(90deg, rgba(236,235,228,1) 59%, rgba(140,226,232,1) 100%);
	
	
}

#back{
	background-color: #f4f2dc;
	width: 60%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: stretch;
	
}
#name{



	width: 60%;
	height: 150px;
	background-color: black;
	margin: auto;
	
	text-align: center;

}

img{
	position: absolute;
	width: 140px;
	height: 140px;
	right: 25%;
	border-radius: 50%;
}
#orange{
	background-color: rgba(189,195,199,0.5);
	width: 50%;
	text-align: center;
	padding: 20px;
	

}

#yellow{
	background-color: rgba(189,195,199,0.5);
	width: 50%;
	text-align: center;
	padding: 20px;
}	
ul {
	display: inline-block;

}
textarea{
	overflow: hidden;
	width: 60%;
	text-align: left;
}
h1{
	color: white;
	padding: 50px;
}
footer{
	text-align: center;
	font-size: 10px;
}
.imglogo
{
	width: 50px;
	height: 50px;
	right: 20%;
}